<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">
    <link rel="stylesheet" href="styles.css">
	<title>Project 2</title>
</head>

<body>
	<header>
		<h1>Edit <%= recipe.name %> </h1>
		<nav>
			
					<a href="/recipes">Back</a>
				
		</nav>
	</header>
	<main>
		<form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
			Recipe Name<br/>
			<input type="text" name="name" /></textarea><br />
            Describe your Recipe<br/>
			<textarea name="description"></textarea><br />
            Ingredients<br/>
            <textarea name="ingredients"></textarea><br />
            How to Make<br/>
            <textarea name="instructions"></textarea><br />
            Special Instructions/Ingredients<br/>
            <textarea name="special"></textarea><br />
            Chef<br/>
            <textarea name="chef"></textarea><br />
			<input type="submit" value="Edit Recipe" />
		<br />
        
        </form>

	</main>
</body>

</html>
