<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css"
    /> -->
        <link href="https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
    <title>Project 2</title>
</head>

<body class="home">

    <header>
        <h1 class="homeTitle">Welcome to Kelts Kitchen</h1>
        <nav>
            
                    <a href="/recipes" class="recipeLink">All Recipes</a>
                
        </nav>
    </header>
</body>

</html>