<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <link rel="stylesheet" href="/normalize.css">
    <link rel="stylesheet" href="/skeleton.css">
    <link rel="stylesheet" href="/style.css">
		<title>Express Blog</title>
	</head>
	<body class="index">
		<header>
            <main>
                <h2>Where the Magic Happens</h2>
                <ul>
                    <h1>Recipes</h1>
                    <% recipes.forEach(r => { %>
                        <li>
                    
                        <a href="/recipes/<%= r._id%>" class="recipeName"><%= r.name %></a>
                        <form method="POST" action="/recipes/<%= r._id %>?_method=DELETE" style="display: inline; margin-right: 1rem; padding: 30px">
                            <input type="submit" value="DELETE" class="deleteButton">
                        </form>
                        
                    </li>
                    <% }); %>
                </ul>
            </main>
			<nav>				
						<a href="/">Home</a><br>
                        <a href="/new">New Recipe</a>

			</nav>
		</header>
	</body>
</html>