<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Project 2</title>
</head>

<body>
	<header>
		
		<nav>
			
					<a href="/">Home</a>
                    <br />
				<a href="/recipes">Back to Recipes</a>
				
		</nav>
	</header>
	<main>
		<section>
			<%= recipe.name %>
		</section>
        <section>
            <%= recipe.description %>
        </section>
        <a href="/recipes/<%= recipe._id%>/edit">EDIT</a>
	</main>
</body>

</html>
